<div id='appbar'>Chatty Pre4 RC Alpha™</div>
<div id='bodyOutlet'>
  {{render userList}}
  <div id='chatArea'>
    {{render chatWindow}}
    <div class="commandBarWrapper">
      {{render commandBar}}
    </div>
  </div>
</div>
