/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass";
@import "compass/reset";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: 1em Helvetica, Arial, Sans-serif;
}

html,body,.bodyWrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  background: black;
}

.bodyWrap {
  @include display-box;
  @include box-orient(vertical);
}

#appbar {
  @include display-box;
  @include box-align(center);
  @include background(linear-gradient(#999,#666));
  @include border-radius(5px 5px 0px 0px);
  @include text-shadow(1px 1px 1px #666);
  margin-top: 3px;
  height: 30px;
  border-bottom: 1px solid #666;
  color: #eee;
  padding-left: 10px;
}

#bodyOutlet {
  @include display-box;
  @include box-pack(stretch);
  @include box-flex(1);
  background: #fefefe;
}

#chatArea {
  @include display-box;
  @include box-align(stretch);
  @include box-flex(1);
  @include box-orient(vertical);
}

#chatWindow {
  @include display-box;
  @include box-flex(1);
  @include box-pack(end);
  @include box-align(stretch);
  @include box-orient(vertical);
  padding: 5px;

  .message { 
    @include border-radius(2px);
    padding: 5px;
    font-size: 0.8em; 
    &:nth-child(odd) {
      background: #dfedfb;
    }
  }

  .username { color: #666; }
  .body { color: #333; margin-top: 5px; }
}