@import "compass";

.chatWindow {
  @include box-flex(1);
  overflow: auto;
}

.commandBar {
  @include display-box;

  input {
    @include box-flex(1);
    display: block;
    border: 0px;
    border-top: 1px solid #ccc;
    outline: none;
    font-size: 12px;
    margin: 0;
    padding: 2px;
  }
}

